/* //////////////  NAVABAR /////////////////*/

.nav-link{
  font-weight: 500; 
  letter-spacing: 1px;
}

.nlink{
  margin-right: 25px;
  text-transform: uppercase;
  margin-left : 25px;
  border-top: 3.8px solid #212529;
}
.nlink:hover{
  border-top: 3.8px solid #eb4657 !important;
} 

/* //////////////  HEADER /////////////////  */

.header-head{
 background: url('../src/components/Header/header3.jpg') no-repeat;
  height: 80vh;
  background-size: cover;
  text-align: center;
  background-position: center;
  
}

.myheading{
 font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 420%;
  text-shadow: 3px 3px 4px #000000;
 
}
.myhead1{
  padding-top: 16%;
}

/*                         HEADINGS                 */

.para-heading{
  font-size: 130%;
  font-weight: 550;
  font-family: 'Times New Roman', Times, serif;
  /* text-shadow: 1px 1px 1px #000000; */
  text-align: center;
  margin-top: 0;
}
.first-heading{
  margin-top: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px #000000;
  font-weight: 300;
  font-size: 350%;
  text-align: center;

}

/* ////////////////////////////BOOKS//////////////////////// */

.search-option{
  text-align: center;
  margin-top: 30px;;
  
}
.btn-option{
  margin-top: 20px;
}
.search-bar{
  height: 50px;
  margin: 22px;
    width: 500px;
  border: 3px solid #eb4657;
    border-radius: 10px;
}
.flex-books{
  text-align: center;
  margin: 20px;
  width: 200px;
  position: relative; 
    padding: 10px;
    display: inline-flex;
    flex-direction: column;   
    height: auto;
}

.book{
  height: 90vh;
  overflow: scroll;
}
