/* //////////////  NAVABAR /////////////////*/

.nav-link{
  font-weight: 500; 
  letter-spacing: 1px;
  text-transform: uppercase;
}

li{
  text-transform: uppercase;
}
a{
  margin-right: 25px;
 margin-left : 25px;
  color: red !important; 
}
